<%= form_with(model: llm) do |form| %>
  <% if llm.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(llm.errors.count, "error") %> prohibited this llm from being saved:</h2>

      <ul>
        <% llm.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :provider, style: "display: block" %>
    <%= form.text_field :provider %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
